<% layout = 'layout' %> 

<section id="inicio" class="paises">
  <div class="paises-content">
    <h1>Explorá el Mundo con la pagina de Esteban</h1>
    <a href="paises" class="button btn-forms">Ver Países</a>
  </div>
</section>

<section id="sobre" class="py-5 text-center">
  <div class="container">
    <h2>Sobre Nosotros</h2>
    <p>Soy Esteban Guzzo del equipo 11</p>
    <p>Esta página fue creada para la Diplomatura de Desarrollo Web Full Stack</p>
    <p>Esta bonita la verdad.</p>
  </div>
</section>

<section id="contacto" class="py-5" style="background-color: #f4f6f8;">
  <div class="container text-center">
    <h2>Contacto</h2>
    <p>¿Querés saber más? ¡Escribinos!</p>

    <div style="display: flex; justify-content: center; margin-top: 2rem;">
      <a href="/paises/contacto" class="button btn-forms">Enviar consulta</a>
    </div>
  </div>
</section>
