<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title || 'Países' %></title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

  <nav class="navbar">
    <img src="/img/logo.png" alt="Logo" class="icon-navbar">
    <ul class="navbar-menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/paises">Paises</a></li>
      <li><a href="/paises/formulario/agregar">Agregar País</a></li>
      <li><a href="paises/contacto">Contacto</a></li>
    </ul>
  </nav>

